  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />

      {% extends "base.html" %}
      {% load static %}
      {% load django_bootstrap5 %}
      {% bootstrap_javascript %}
      {% bootstrap_css %}

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
      <link rel="stylesheet" href="{% static 'css/about.css' %}">
      <title>Environ - About Us</title>
  </head>
  {% block content %}
  <body>
  <div class="container my-5">
      <div class="row">
          <div class="col-lg-8 mx-auto">
              <h1 class="display-4 text-center mb-4">About Environ</h1>
              <div class="bg-light p-5 rounded">
                  <h2 class="h3 mb-3">Our Mission</h2>
                  <p>Environ is dedicated to empowering individuals and organizations to take action against environmental violations. We believe in creating a transparent, accessible platform for anonymous reporting that protects whistleblowers and the planet.</p>

                  <h2 class="h3 mb-3">What We Do</h2>
                  <p>We provide a secure way to report environmental harm. This reporting site allows for users to, anonymously or not, inform environmental organizations and regulators alike on environmental harm near them. We are committed to fostering change and holding violators accountable.</p>

                  <h2 class="h3 mb-3">Join the Movement</h2>
                  <p>Your voice is powerful. Every report you submit can lead to impactful change. If you’re witnessing illegal dumping, pollution, or any harm to the environment, Environ is your ally in the fight for justice and sustainability.</p>
              </div>
              <br>
               <div class="bg-light p-5 rounded">
                  <h2 class="h3 mb-3">Helpful Links</h2>
                  <a href="https://www.epa.gov/laws-regulations">The EPA Website's section on laws and regulations</a></p>
                   <p> <a href="https://www.kirkland.com/publications/article/2021/05/environmental-law-and-practice-in-the-united-state">An overview of environmental law and practice in the US</a></p>
                   <p> <a href="https://www.epa.gov/laws-regulations/summary-national-environmental-policy-act">A summary of the Environmental Protection Act</a></p>

               </div>
              <br>
<!--              <div class="col mt-auto mb-auto mx-auto">-->
<!--          <img-->
<!--            src="https://1721181113.rsc.cdn77.org/data/images/full/18640/toxic-waste-made-the-community-vulnerable.jpg"-->
<!--            width="500"-->
<!--            class="rounded float-right ms-5"-->
<!--          />-->
<!--  </div>-->
          </div>
      </div>
  </div>
  </body>
  {% endblock content %}
  </html>

